<h1>About</h1>
<p>
	A dog's World is an application that lets you set up a profile for your dog. You can connect with other dog owners in your local area to find someone to watch your dog, set up play dates, or simply just exchange tips. 
</p>