<div class="hero-unit">
<h1>Welcome to A Dog's World!</h1>
<p>
	Join to enter A Dog's World and connect with other dog owners.

</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>

